// Example Stylus file

@import 'helpers'
@import 'demo'
@import 'nib'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  vertical-gradient #eee, #fff
  text-align center

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333
  text-shadow 1px 1px 2px white

#content
  padding 50px

#login_logo
  margin 96px 0 0
#welcome 
  margin-top -5px
  color #2489CC
  font-size 3em
  text-shadow: 1px 1px 2px #555

.social_buttons
  width 740px
  margin 0 auto

.inset
  float left
  margin-right 20px
  padding 5px
  height 40px
  width 200px
  border-radius(8px)
  box-shadow(inset 0px 1px 2px rgba(50,50,50,0.5))
  margin 1em
.login_btn
  display block
  width 200px
  height 37px
  border-radius(5px)
  text-decoration none
.login_btn:hover
  text-decoration none
  cursor pointer
.login_btn:active
  height 38px
  margin-top 2px
.login_btn
  span
    float left
    min-height 20px
    margin-top 5px
    padding 3px 5px
    font-size 14px
    font-weight 500
    color #fff
  .logo_wrapper
    float left
    margin-top 7px
    padding 3px 12px

.tw
  background #32C1F0
  background linear-gradient(top, #32c1f0 0%,#32c1f0 49%,#30bbe9 49%,#30bbe9 100%)
  box-shadow(0px 3px 0px #249BC4)
  .logo_wrapper
    padding-top 0px
    padding-right 8px
    padding-left 8px
    border-right 1px solid #12ABDD
  .logo
    float left
    width 21px
    height 17px
    margin-top -5px
    background url('../../images/tw.png') 0 0 no-repeat
.tw:hover
  background #18B8EE
  background linear-gradient(top, #18b8ee 0%,#18b8ee 49%,#18b2e6 49%,#18b2e6 100%)
  box-shadow(0px 3px 0px #1D82A5)
.tw:active
  height 38px
  background-color #2088B4
  background-image none
  box-shadow(inset 0px 1px 0px rgba(50,50,50,0.4))
  .logo_wrapper
    border-right-color #1F83AD

.tw > span 
  border-left 1px solid #59C9ED

.tw:active > span
  border-left-color #2392C2

.fb
  background #3b5998
  background linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%)
  box-shadow(0px 3px 0px #213b6d)
  .logo_wrapper
    padding-top 0px
    padding-right 8px
    padding-left 8px
    border-right 1px solid #2f4f85
  .logo
    float left
    width 21px
    height 17px
    margin-top 1px
    background url('../../images/fb.png') top left no-repeat
.fb:hover
  background #2b4582
  background linear-gradient(top, #2b4582 0%,#2b4582 49%,#243d79 49%,#2b4582 100%,#243d79 100%)
  box-shadow(0px 3px 0px #172d59)
  .logo_wrapper
    border-right 1px solid #284473
.fb:active
  height 38px
  background-color #243d79
  background-image none
  box-shadow(inset 0px 1px 0px rgba(50,50,50,0.4))
  .logo_wrapper
    border-right-color #21386e

.fb > span 
  border-left 1px solid #627ba8
.fb:hover > span
  border-left 1px solid #51668c

.fb:active > span
  border-left-color #2c4b94

.go
  background #eee
  background linear-gradient(top, #eee 0%,#ddd 50%,#ccc 50%,#bbb 100%)
  box-shadow(0px 3px 0px #aaa)
  .logo_wrapper
    padding-top 0px
    padding-right 8px
    padding-left 8px
    border-right 1px solid #eee
  .logo
    float left
    width 21px
    height 17px
    margin-top 1px
    background url('../../images/go.png') 0 0 no-repeat
.go:hover
  background #eff
  background linear-gradient(top, #ddd 0%,#ccc 49%,#bbb 49%,#aaa 100%,#888 100%)
  box-shadow(0px 3px 0px #aaa)
  .logo_wrapper
    border-right 1px solid #bbb
.go:active
  height 38px
  background-color #ccc
  background-image none
  box-shadow(inset 0px 1px 0px rgba(50,50,50,0.4))
  .logo_wrapper
    border-right-color #aaa

.go > span 
  border-left 1px solid #bbb
  color #555
.go:hover > span
  border-left 1px solid #aaa

.go:active > span
  border-left-color #ccc

