
input + label, button + label, select + label, label + button, textarea + label, input + input, button + input, select + input, textarea + input, input + button, button + button, select + button, textarea + button, input + select, button + select, select + select, textarea + select, input + textarea, button + textarea, select + textarea, textarea + textarea, input + .btn, button + .btn, select + .btn, textarea + .btn, input + .btn-group, button + .btn-group, select + .btn-group, textarea + .btn-group, input + .help-inline, button + .help-inline, select + .help-inline, textarea + .help-inline {
   margin-left: .4em;
}

.login-panel
  margin-top 2em

#twit, #fb, #goog
  width: 25%
  background-repeat: no-repeat 
  background-position: 10px 
  padding-left 35px

#twit
  background-image: url(/images/glyphicons_391_twitter_t.png)

#fb
  background-image: url(/images/glyphicons_390_facebook.png)

#goog
  background-image: url(/images/glyphicons_362_google.png)
