div.ed-widget.ui-dialog.ui-widget-content.ui-corner-all.ui-draggable(tabindex="-1")
  div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
    span.ui-dialog-title.ed-widget-title.ed-widget-sensor-title If The Sensor
    span.ed-widget-invalid.ui-corner-all(style="display:none;")
    div.popup.bottom-arrow(style="display:none;")
      h5 Needs fixin'...
      ul.ed-widget-errors
      div.arrow
    a.ui-dialog-titlebar-close.ui-corner-all(role="button")
      span.ui-icon.ui-icon-closethick close
  div.ui-widget-content.ui-dialog-content 
    form.form
      fieldset
        div.control-group
          label.control-label(for="daisy-select") Choose a Daisy
          div.controls
            select.daisy
        div.control-group
          label.control-label(for="sensor-select") Choose a Sensor
          div.controls
            select.sensor
              option(value="Power") Power
              option(value="InputPin") Input Pin
              option(value="LeakDetection") Leak Detection
              option(value="MagneticSwitch") Magnetic Switch
              option(value="Humidity") Humidity
              option(value="Temperature") Temperature
              option(value="Moisture") Moisture
              option(value="Battery") Battery
        div.ui-corner-all.ed-sensor-choice