div.ed-widget.ui-dialog.ui-widget-content.ui-corner-all
  div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
    span.ui-dialog-title.ed-widget-title.ed-widget-sensor-title {{title}}
    span.ed-widget-invalid.ui-corner-all
    div.popup.bottom-arrow(style="display:none;")
      h5 Needs fixin'...
      ul.ed-widget-errors
      div.arrow
    a.ui-dialog-titlebar-close.ui-corner-all(role="button")
      span.ui-icon.ui-icon-closethink close
  div.ui-widget-content.ui-dialog-content
    form
      fieldset
        select.daisy(multiple="multiple")
        select.sensor(multiple="multiple")
          option(value="Power") Power
          option(value="InputPin") Input Pin
          option(value="LeakDetection") Leak Detection
          option(value="MagneticSwitch") Magnetic Switch
          option(value="Humidity") Humidity
          option(value="Temperature") Temperature
          option(value="Moisture") Moisture
          option(value="Battery") Battery
        div.ui-corner-all.ed-sensor-choice
        