!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Daisy Central
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="description", content="TODO")
    meta(name="author", content="DaisyWorks, Inc.")

    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel="shortcut icon", href="ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

  body
    // navbar 
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Daisy Central
          div.nav-collapse
            ul.nav.top-menu 
              li.active
                a(href="#") Home
              li
                a(href="#devices") Devices 
              li
                a(href="#rules") Rules
              li 
                a(href="#profile") Profile
              li
                a(href="#help") Help
              li 
                a(href="/logout") Logout
    // fluid container
    div.container-fluid#content
      div.container-fluid#home
       div.row-fluid
        div.span3
          div.well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar 
              li.active
                a(href="#") Some Link 
              li 
                a(href="#") Another Link
              li.nav-header Another Section
              li 
                a(href="#") Yet More Links
              li
                a(href="#") Click Me 
        div.span9
          div.hero-unit
            h1 Hello, world!
            p This is a template for blah blah blah blah
            p 
              a.btn.btn-primary.btn-large Learn more &raquo;
          div.row-fluid
            div.span4
              h2 Heading
              p onec id elit non mi <em>porta gravida</em> at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p 
                a.btn(href="#") View details &raquo;
            div.span4
              h2 Heading
              p onec id elit non mi <abbr title="porta gravida">porta gravida</abbr> at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href="#") View details &raquo;
      div.container-fluid#devices(style="display:none")
        div.row-fluid
          div.span3#sidebar-view
            div.well.sidebar-nav
              ul.nav.nav-list
                li.nav-header Devices
                li.active
                  a(href="#daisyList") Daisies
                li
                  a(href="#registerDaisy") Register a Daisy
                li.nav-header Sensors
                  table.table.table-striped.table-condensed#sensorButtons
                    thead
                      tr
                        th 
                        th Enabled
                      tbody
                        tr
                          td 
                            img.pull-left(src="images/switch_120v.png")
                            p Power
                          td
                            input#AD1.btn.sensor-cb(type="checkbox", name="cb-power", checked="yes") 
                        tr
                          td
                            img.pull-left(src="images/draw_convolve.png")
                            p Leak Detection
                          td 
                            input#AD2.btn.sensor-cb(type="checkbox", name="cb-leak")
                        tr
                          td
                            img.pull-left(src="images/magnet.png")
                            p Magnetic Switch
                          td
                            input#AD3.btn.sensor-cb(type="checkbox", name="cb-magnet")
                        tr 
                          td
                            img.pull-left(src="images/fog.png")
                            p Humidity
                          td
                            input#AD4.btn.sensor-cb(type="checkbox", name="cb-humidity")
                        tr
                          td
                            img.pull-left(src="images/temperature_3.png")
                            p Temperature
                          td
                            input#AD5.btn.sensor-cb(type="checkbox", name="cb-temperature")
                        tr
                          td
                            img.pull-left(src="images/sun_rain.png")
                            p Moisture
                          td
                            input#AD6.btn.sensor-cb(type="checkbox", name="cb-moisture")
                        tr 
                          td 
                            img.pull-left(src="images/battery.png")
                            p Battery
                          td
                            input#AD7.btn.sensor-cb(type="checkbox", name="cb-battery")
          div.span9#devicesContent
            div#register-view(style="display:none")
              h2 Register A New Daisy 
              form.well.form-inline
                p 
                | To register a new Daisy, enter the secret key here.  
                | You should have received the secret key when you 
                | received your Daisy.  If you don't know the secret key, 
                | contact us at  
                a(href="mailto:support@daisyworks.com") support@daisyworks.com
                hr
                input.input#daisySecretKey(type="text", placeholder="secret key", style="margin-right:1em;")
                button.btn.btn-primary#register-button(type="submit") Register
            div.container-fluid#table-view
              h2 My Daisies
              p 
              | Select a daisy by clicking a row - this will load the sensor data for that Daisy. 
              | You may edit a Daisy's name by double-clicking the name and typing a new name.
              p
              table.table.table-striped.table-bordered#daisies-table(style="width:100% important!")
                thead
                  tr
                    th _id
                    th Name
                    th key
                    th lastMod
                    th owners
                    th Online?
                    th MAC
                tbody
              hr
              div#realtime-view
                h2 Real-Time Data 
                p The chart shows the most recent data for the Daisy.
                // flot data chart
                div.span8#chart(style="height:300px; width:600px;")
                  p foo
                // flot chart overview
                div.span4#overview(style="margin-left:50px;margin-top:20px;width:400px;height:50px")
      div.row-fluid#rules(style="display:none")
        h1 This is the Rules Page
      div#profile(style="display:none")
        h1 This is the Profile Page
      div#help(style="display:none")
        h1 This is the Help Page
  hr 

  footer 
    p &copy; DaisyWorks, Inc. 2012
